<nav>
    <div class="site-title">
        <a href="/"<h1>Blogging Website</h1></a>
        <p>Free Blogging</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About Us</a></li>
        <l1><a href="/blogs/create">New Blog</a></l1>
    </ul>
</nav>